{{#products}}
<div class="product">
    <div>
        <h4>{{name}}</h4>

        <div class="photo">
            <img src="./images/products/{{imageUrl}}" alt=""
                 onclick="showImageDetailForm('{{name}}','./images/products/{{imageUrl}}')">

            <h4 class="price">${{price}}</h4>
        </div>

        <div>
            <p>{{description}}</p>
            <p class="{{stockClass}}">{{stockMessage}}</p>
        </div>
    </div>

    <div class="add-button">
        {{{cartButton}}}
    </div>
</div>
{{/products}}